{{define "facebook"}}
  <h2>Actualités</h2>
  <section class="news">
    {{range .Posts}}
      {{if eq .Type "status" "photo" "link"}}
        {{if or (ne .Message "") (ne .Description "")}}
          <article>
            <p class="created_at"><a href="https://www.facebook.com/{{or .ObjectId .Id}}">{{.CreatedTime.String}}</a></p>
            <p class="message">{{or .Message .Description}}{{if eq .Type "link"}} <a class="external-link" href="{{.Link}}">➔</a>{{end}}</p>
            {{if eq .Type "photo"}}<img src="{{.Photo.CacheUrl}}">{{end}}
          </article>
        {{end}}
      {{end}}
    {{end}}
  </section>
{{end}}
