[Unit]
Description=ahouhpuc
After=multi-user.target

[Service]
User=martin
EnvironmentFile=/home/martin/ahouhpuc/production.env
WorkingDirectory=/home/martin/ahouhpuc
ExecStart=/home/martin/ahouhpuc/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
