<ul>
  <li><a {% if page.path contains "teams" %} class="current" {% endif %} href="teams.html">Teams</a></li>
  <li><a {% if page.path contains "practices" %} class="current" {% endif %} href="practices.html">Practices</a></li>
  <li><a {% if page.path contains "enrol" %} class="current" {% endif %} href="enrol.html">Enrol</a></li>
  <li><a {% if page.path contains "summer-love-en" %} class="current" {% endif %} href="summer-love-en.html">Summer&nbsp;Love&nbsp;♥</a></li>
  <li><a {% if page.path contains "about" %} class="current" {% endif %} href="about.html">About</a></li>
  <li><a {% if page.path contains "contact-en" %} class="current" {% endif %} href="contact-en.html">Contact</a></li>
</ul>
