<ul>
  <li><a {% if page.path contains "équipes" %} class="current" {% endif %} href="équipes.html">Équipes</a></li>
  <li><a {% if page.path contains "entraînements" %} class="current" {% endif %} href="entraînements.html">Entraînements</a></li>
  <li><a {% if page.path contains "juniors" %} class="current" {% endif %} href="juniors.html">Junior</a></li>
  <li><a {% if page.path contains "inscription" %} class="current" {% endif %} href="inscription.html">Inscription</a></li>
  <li><a {% if page.path contains "summer-love" %} class="current" {% endif %} href="summer-love.html">Summer&nbsp;Love&nbsp;♥</a></li>
  <li><a {% if page.path contains "à-propos" %} class="current" {% endif %} href="à-propos.html">À propos</a></li>
  <li><a {% if page.path contains "contact" %} class="current" {% endif %} href="contact.html">Contact</a></li>
  <li><a class="flag" href="en.html" title="Ah Ouh Puc in English"><img src="en.png" alt="Ah Ouh Puc in English"> English</a></li>
</ul>
