<script>
  document.addEventListener("DOMContentLoaded", function() {
    var menu = document.getElementById("menu"),
      ul = document.querySelector("nav ul");

    menu.addEventListener("click", function() {
      menu.classList.toggle("on");
      ul.classList.toggle("on");
    });
  });
</script>

{% if page.lang == "fr" %}
  <ul>
    <li><a {% if page.path contains "practices" %} class="current" {% endif %} href="/fr/practices">Entraînements</a></li>
    <li><a {% if page.path contains "join-us" %} class="current" {% endif %} href="/fr/join-us">Inscription</a></li>
    <li><a {% if page.path contains "junior" %} class="current" {% endif %} href="/fr/junior">Jeunes</a></li>
    <li><a {% if page.path contains "summer-love" %} class="current" {% endif %} href="/fr/summer-love">Summer&nbsp;Love&nbsp;♥</a></li>
    <li><a {% if page.path contains "about" %} class="current" {% endif %} href="/fr/about">À propos</a></li>
    <li><a {% if page.path contains "calendar" %} class="current" {% endif %} href="/fr/calendar">Calendrier</a></li>
  </ul>
{% else %}
  <ul>
    <li><a {% if page.path contains "practices" %} class="current" {% endif %} href="/en/practices">Practices</a></li>
    <li><a {% if page.path contains "join-us" %} class="current" {% endif %} href="/en/join-us">Sign Up</a></li>
    <li><a {% if page.path contains "junior" %} class="current" {% endif %} href="/en/junior">Youth</a></li>
    <li><a {% if page.path contains "summer-love" %} class="current" {% endif %} href="/en/summer-love">Summer&nbsp;Love&nbsp;♥</a></li>
    <li><a {% if page.path contains "about" %} class="current" {% endif %} href="/en/about">About Us</a></li>
    <li><a {% if page.path contains "calendar" %} class="current" {% endif %} href="/en/calendar">Calendar</a></li>
  </ul>
{% endif %}

