<ul>
  <li><a {% if page.path contains "inscription" %} class="current" {% endif %} href="inscription.html">Inscription</a></li>
  <li><a {% if page.path contains "entrainements" %} class="current" {% endif %} href="entrainements.html">Entraînements</a></li>
  <li><a {% if page.path contains "juniors" %} class="current" {% endif %} href="juniors.html">Juniors</a></li>
  <li><a {% if page.path contains "equipes" %} class="current" {% endif %} href="equipes.html">Équipes</a></li>
  <li><a {% if page.path contains "summer-love" %} class="current" {% endif %} href="summer-love.html">Summer&nbsp;Love&nbsp;♥</a></li>
  <li><a {% if page.path contains "a-propos" %} class="current" {% endif %} href="a-propos.html">À propos</a></li>
  <li><a {% if page.path contains "calendrier" %} class="current" {% endif %} href="calendrier.html">Calendrier</a></li>
  <li><a class="flag" href="en.html" title="PUC Ultimate in English"><img src="en.png" alt="PUC Ultimate in English"> English</a></li>
</ul>
<p class="hiring">
  Le PUC Ultimate recrute actuellement un chargé de développement ! Retrouvez l'<a href="https://docs.google.com/document/d/1rmhMTKGKNTcLRfUT13kDtzIs8CLW8YTyg_ru0A7Mty0/edit#" target="_blank">offre d'emploi</a>
</p>
