<ul>
  <li><a {% if page.path contains "sign-up" %} class="current" {% endif %} href="sign-up.html">Sign Up</a></li>
  <li><a {% if page.path contains "practices" %} class="current" {% endif %} href="practices.html">Practices</a></li>
  <li><a {% if page.path contains "youth" %} class="current" {% endif %} href="youth.html">Youth</a></li>
  <li><a {% if page.path contains "teams" %} class="current" {% endif %} href="teams.html">Teams</a></li>
  <li><a {% if page.path contains "summer-love-en" %} class="current" {% endif %} href="summer-love-en.html">Summer&nbsp;Love&nbsp;♥</a></li>
  <li><a {% if page.path contains "about-us" %} class="current" {% endif %} href="about-us.html">About Us</a></li>
  <li><a {% if page.path contains "calendar" %} class="current" {% endif %} href="calendar.html">Calendar</a></li>
  <li><a class="flag" href="fr.html" title="PUC Ultimate en français"><img src="fr.png" alt="PUC Ultimate en français"> français</a></li>
</ul>
