---
layout: default
---

<div class="calendar-main">
  <h1>{{ page.subtitle }}</h1>
  <p class="about">{{ page.description }}</p>

  <div class="desktop-calendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src=YWhvdWhwdWNAZ21haWwuY29t&amp;color=%23009688&amp;showTitle=1&amp;showDate=1&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;title=Ah%20Ouh%20Puc&amp;showTz=1"
      style="border: solid 1px #777"
      width="800"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>

  <div class="phone-calendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src=YWhvdWhwdWNAZ21haWwuY29t&amp;color=%23009688&amp;showTitle=1&amp;showDate=0&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;title=Ah%20Ouh%20Puc&amp;showTz=0&amp;mode=AGENDA"
      style="border: solid 1px #777"
      width="100%"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>

  <p>{{page.footer}}</p>
</div>
