<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta name="description" content="{{page.description}}">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    {% if page.facebook %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=514749898633160";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52126894-1', 'ahouhpuc.fr');
      ga('send', 'pageview');

      document.addEventListener("DOMContentLoaded", function() {
        var menu = document.getElementById("menu"),
          ul = document.querySelector("nav ul");

        menu.addEventListener("click", function() {
          menu.classList.toggle("on");
          ul.classList.toggle("on");
        });
      });
    </script>
    <nav>
      <a href="index.html"><img id="logo" src="ahouhpuc-logo.svg" alt="Ah Ouh Puc Paris Ultimate"></a>
      <a href="#" id="menu">Menu</a>
      <ul>
        <li><a {% if page.path contains "équipes" %} class="current" {% endif %} href="équipes.html">Équipes</a></li>
        <li><a {% if page.path contains "entraînements" %} class="current" {% endif %} href="entraînements.html">Entraînements</a></li>
        <li><a {% if page.path contains "inscription" %} class="current" {% endif %} href="inscription.html">Inscription</a></li>
        <li><a {% if page.path contains "summer-love" %} class="current" {% endif %} href="summer-love.html">Summer&nbsp;Love&nbsp;♥</a></li>
        <li><a {% if page.path contains "à-propos" %} class="current" {% endif %} href="à-propos.html">À propos</a></li>
        <li><a {% if page.path contains "contact" %} class="current" {% endif %} href="contact.html">Contact</a></li>
      </ul>
    </nav>
    {% if page.cover %}
      <div class="cover" style="background-image: url('{{page.cover.src}}');" title="{{page.cover.title}}"></div>
    {% endif %}
    <div id="container">
      {{content}}
    </div>
  </body>
</html>
